.footerContainer {
  border-top: 5px solid $writingColorHover1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  color: white;
  &--bg {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    z-index: -5;
  }
  &__logo img {
    width: 350px;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    &__contact {
      margin: 10px;
      justify-content: center;
      @media screen and (max-width: 800px) {
        a {
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
          margin: 5px;
        }
      }
    }
    &__certification {
      @media screen and (max-width: 1200px) {
        display: none;
      }
      & h4 {
        font-size: 25px;
        font-weight: 400;
        margin: 5px 10px;
        text-align: center;
        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media screen and (max-width: 800px) {
          font-size: 15px;
        }
      }
      & ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
      & img {
        width: 100px;
      }
    }
  }
  p {
    font-size: 1rem;
  }
  @media screen and (max-width: 800px) {
    justify-content: space-around;
    height: 150px;
  }
}
