.pathReseau {
  &__list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 200px;
    &--item a img {
      height: 100px;
      width: 100px;
      transition: transform 0.3s ease-in-out;
      @media screen and (max-width: 800px) {
        height: 60px;
        width: 60px;
      }
    }
    &--item img:hover {
      transform: scale(1.2);
    }
    @media screen and (max-width: 800px) {
      width: 150px;
    }
    @media screen and (max-width: 800px) {
      justify-content: flex-end;
    }
  }
}

#Facebook img {
  margin: 10px;
  height: 80px;
  width: 80px;
  @media screen and (max-width: 800px) {
    height: 40px;
    width: 40px;
  }
}
