.aboutContainer {
  &__main {
    &--bannerImg {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      overflow: hidden;
      border: 2px solid $writingColorHover1;
      width: 95%;

      img {
        height: 180px;
        width: 100%;
        object-fit: cover;
      }
    }
    &__history {
      background-color: rgb(248, 248, 248);
      width: 95%;
      margin: 50px auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 1000px;
      overflow: hidden;
      position: relative;
      &--content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
        h1 {
          font-family: "Kaushan", Arial, Helvetica, sans-serif;
          font-size: 4.5rem;
          margin: -100px auto 50px auto;
          text-decoration: underline $writingColorHover1;
          @media screen and (max-width: 1200px) {
            text-align: center;
          }
        }
        h2 {
          font-family: "Kaushan", Arial, Helvetica, sans-serif;
          font-size: 2.5rem;
          @media screen and (max-width: 1200px) {
            text-align: center;
          }
        }
        p {
          max-width: 750px;
          font-size: 1.3rem;
          padding: 30px;
          @media screen and (max-width: 1200px) {
            max-width: none;
            padding: 10px;
            text-align: center;
            width: 100%;
          }
        }

        &--img2 {
          width: 150px;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
      &--img {
        width: 50%;
        img {
          max-width: 1000px;
        }
        @media screen and (max-width: 1200px) {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -5;
          width: 100%;
        }
      }
      @media screen and (max-width: 1200px) {
        background-color: rgba(248, 248, 248, 0.672);
      }
    }
    &__video {
      width: 90%;
      margin: 50px auto;
      padding: 20px;
      border: 2px solid $writingColorHover1;
    }
  }
}

hr {
  width: 50%;
  border: none;
  margin: 50px auto;
  border-top: 3px double #737373;
  color: #737373;
  overflow: visible;
  text-align: center;
  height: 5px;
  @media screen and (max-width: 1200px) {
    margin: 5px auto;
  }
}

hr:after {
  font-size: 2rem;
  background: rgb(248, 248, 248);
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -23px;
  @media screen and (max-width: 1200px) {
    background-color: transparent;
  }
}
