.menuContainer {
  &__main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    &--bg {
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    &--bg img {
      width: 140%;
      opacity: 0.1;
      z-index: -1;
    }
    &--logo {
      margin-top: 50px;
      margin-left: 20px;
      width: 150px;
    }
    &__menu {
      &--nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-family: "Kaushan", Arial, Helvetica, sans-serif;
        &--left {
          padding: 20px;
          color: $writingColorHover1;
          font-size: 30px;
          font-weight: 900;
          transition: transform 0.2s ease-in-out;
        }
        &--left:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
        &--affichage {
          transition: all 0.2 ease-in-out;
        }
        &--right {
          padding: 20px;
          color: $writingColorHover1;
          font-size: 30px;
          font-weight: 900;
          transition: transform 0.2s ease-in-out;
        }
        &--right:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }
  &__main h1 {
    margin: 50px;
    font-family: "Kaushan", Arial, Helvetica, sans-serif;
  }
}

.menuContainer__main__menu {
  z-index: 25;
}
